{{ 'custom_collection.css' | asset_url | stylesheet_tag }}
<section class="section__custom_collection">

  <div class="section_header">
    <div class="header_desktop">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'custom_collection' %}
          <div
            class="desktop-header--item"
            data-collection-id="{{ block.settings.collection.id }}"
            data-collection="{{ block.settings.collection.title | downcase }}">
            {{ block.settings.collection.title | upcase }}</div>

        {% endcase %}
      {% endfor %}
    </div>

  </div>


</section>



{{ 'custom_collection.js' | asset_url | script_tag }}
{% schema %}
  {
    "name": "Custom Collections",

    "presets": [
      {
        "name": "Collection",
        "blocks": [
          {
            "type": "custom_collection"
          }, {
            "type": "custom_collection"
          }, {
            "type": "custom_collection"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "custom_collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
          }
        ]
      }
    ]
  }
{% endschema %}